<!doctype html>
<html lang="en" ng-app="flickrSearch">

<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Flickr Search</title>
</head>

<body ng-controller="flickrController">
    <main class="col-md-8 col-md-offset-2 text-center">
        <header>
            <h1>Flickr Search</h1>
        </header>
        <section class="search">
            <form>
                <div class="form-group form-inline">
                    <input type="text" placeholder="Search for..." ng-model="searchTag">
                    <button class="btn btn-default" ng-click="tagSearch()">Search</button>
                </div>
            </form>
            <p>Searching for photos tagged with cats</p>
        </section>
        <section class="results container-fluid">
            <ul class="list-unstyled col-xs-12">
                <li ng-repeat="picture in results.photos.photo" class="col-md-4">
                    <a href="https://farm{{ picture.farm }}.staticflickr.com/{{ picture.server }}/{{ picture.id }}_{{ picture.secret }}_b.jpg" target="_blank">
  <img ng-src="https://farm{{ picture.farm }}.staticflickr.com/{{ picture.server }}/{{ picture.id }}_{{ picture.secret }}_b.jpg" />
                    </a>
                </li>
            </ul>
        </section>
        <footer>

        </footer>
    </main>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.5/angular-animate.js"></script>
    <script src="scripts/app.js"></script>
</body>

</html>
